@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-color: #1c1917;
  font-family: 'Inter', sans-serif;
}
