.editor {
    background-color: #fff;
    background-color: rgb(225, 29, 72);
    border: 3px solid rgb(225, 29, 72);
    border-radius: 0.75rem;
    color: #0d0d0d;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 2rem;


}

.editor-header {
    align-items: center;
    border-bottom: 3px solid rgb(225, 29, 72);
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding: 0.25rem;
}

.editor-content {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    color: white;
    padding: 1.25rem 1rem;
    min-height: 50%;
    -webkit-overflow-scrolling: touch;

}


.editor-footer {
   
    border-top: 3px solid rgb(225, 29, 72);
    color: white;
    display: flex;
    flex: 0 0 auto;
    font-size: 12px;
    flex-wrap: wrap;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
}

.ProseMirror:focus{
    outline: none;
}


.collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
  }
  
  /* Render the username above the caret */
.collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
}